:root {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --visibility-color: rgba(255, 255, 255, .1);
    background-color: #678FF2; 
    box-sizing: border-box; 
}

*, :before, :after {
    box-sizing: inherit;
}

article {
    background-color: var(--visibility-color);
    border-radius: 2rem;
    margin-left: 3rem;
    margin-right: 2.9rem;
    margin-top: 6.7rem;
}

form {
    padding-left: 3rem;
    padding-right: 3rem;
}

.inputform {
    font-size: 1.5rem;
    border-radius: 9rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.5);
    padding-left: 2.8rem;
    padding-right: 10rem;
    padding-top: 0.9rem;
    padding-bottom: 0.8rem;
    margin-top: 2.1rem;
}

a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 2rem;
}

.afirst {
    padding-left: 3rem;
    padding-top: 1.2rem;
    padding-bottom: 0.9rem;
    font-size: 2.3rem;
    display: inline-block;
}

.asecond {
    background-color: var(--black-color);
    border-radius: 9rem;
    font-size: 1.6rem;
    padding-left: 2.6rem;
    padding-right: 2.6rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    display: inline-block;
    margin-top: 12rem;
    margin-left: 3rem;
    text-align: center;
}

.athird {
    font-size: 2.1rem;
    line-height: 2.1rem;
    padding: 2rem;
    display: inline-block;
    width: 28rem;
}

.afooter {
    padding-left: 3rem;
    margin-right: 5rem;
}

blockquote {
    background-color: var(--visibility-color);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 6.3rem;
}

.buttonlanguage {
    font-size: 2.2rem;
    color: var(--white-color);
}

.buttonaccept {
    font-size: 3rem;
    line-height: 1.4rem;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    margin-left: 9.5rem;
    margin-right: 10.6rem;
    margin-top: 3.1rem;
    margin-bottom: 2.3rem;
}

.buttonshift {
    background-color: var(--visibility-color);
    border-radius: 1.5rem;
    border: none;
    padding: 2rem 1.5rem;
    margin-left: 3.9rem;
    margin-right: 3.9rem;
    margin-top: 4rem;
    transform: rotate(45deg);
}

.buttonsent {
    font-size: 2.6rem;
    background-color: var(--black-color);
    color: var(--white-color);
    border-color: var(--black-color);
    border-radius: 9rem;
    padding-left: 12.5rem;
    padding-right: 12.5rem;
    padding-top: 0.9rem;
    padding-bottom: 0.8rem;
    margin-top: 2.1rem;
    margin-bottom: 1.5rem;
}

.hrequired {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h2 {
    font-size: 3rem;
    color: var(--white-color);
}

.h2first {
    font-size: 4rem;
    text-align: center;
}

.h2high {
    line-height: 1.4rem;
    padding-left: 3rem;
    padding-top: 20rem;
}

.h2always {
    line-height: 1.4rem;
    padding-left: 10rem;
    padding-right: 3rem;
    margin-top: 12.1rem;
}

.h2individual {
    line-height: 1.4rem;
    padding-left: 3rem;
}

.h2our {
    padding-top: 10.7rem;
    text-align: center;
}

.h2testimonials {
    padding-top: 17.1rem;
    text-align: center;
}

.h2last {
    line-height: 4rem;
    color: var(--black-color);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 15rem;
    text-align: center;
}

h3 {
    color: var(--white-color);
    font-size: 1.4rem;
    margin-top: 0.7rem;
    text-align: center;
}

.h3others {
    color: var(--black-color);
    text-align: center;
}

p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.pwhen {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 4rem;
    padding-left: 2.8rem;
    padding-right: 2.5rem;
    padding-top: 13.4rem;
    width: 100%;
    max-width: 380px;
    margin-left: auto;
}

.pscroll {
    font-size: 1.5rem;
    line-height: 3rem;
}

.scrolldown {
    color: var(--white-color);
    rotate: 90deg;
    width: 180px;
    transform-origin: bottom left;
    position: absolute;
    /* transform: translateX(100%);  */
    display: flex;
    gap: 1em;
}

hr {
    flex-grow: 1;
    align-self: center;
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
}

.pwe {
    font-size: 0.9rem;
    line-height: 1.4rem;
    padding-left: 9.7rem;
    padding-right: 1rem;
    padding-top: 1.6rem;
}

.pusing {
    font-size: 0.7rem;
    line-height: 1.8rem;
    color: var(--white-color);
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.p6 {
    font-size: 0.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.psolutions {
    font-size: 0.8rem;
    line-height: 1.4rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.pweare {
    font-size: 1.3rem;
    line-height: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 3rem;
}

.pwearealways {
    font-size: 1.3rem;
    line-height: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 3rem;
    text-align: right;
}

.pour {
    font-size: 1.3rem;
    line-height: 2rem;
    padding-left: 3rem;
    padding-right: 4rem;
    margin-top: 3rem;
}

.pcomment {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding-left: 2.6rem;
    padding-right: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 4rem;
}

.pfooter {
    color: var(--white-color);
    font-size: 1.2rem;
    line-height: 3rem;
    padding-left: 3rem;
}

li {
    list-style-type: none;
}

.li6first {
    background-color: var(--visibility-color);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    padding-top: 1.5rem;
    margin-top: 4.6rem;
    margin-left: 3rem;
    margin-bottom: 3.7rem;
    width: 14.1rem;
    display: inline-block;
}

.li6 {
    background-color: var(--visibility-color);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    padding-top: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 3.7rem;
    width: 14.1rem;
    display: inline-block;
}

.li6_2 {
    background-color: var(--visibility-color);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    padding-top: 1.5rem;
    margin-left: 3rem;
    width: 14.1rem;
    display: inline-block;
}

.li6last {
    background-color: var(--visibility-color);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    padding-top: 1.5rem;
    margin-left: 1.5rem;
    width: 14.1rem;
    display: inline-block;
}

.liathird {
    background-color: var(--visibility-color);
    border-radius: 2rem;
    margin-top: 8.1rem;
    text-align: center;
}

.width-1146 {
    width: 100%;
    max-width: 1146px;
    margin: 0 auto;
    padding: 0 auto;
}

header {
    background-color: var(--visibility-color);
}

footer {
    background-color: var(--visibility-color);
    padding-top: 2.3rem;
    padding-bottom: 2.7rem;
}

.Ihungry {
    position: absolute;
    bottom: -25px;
    left: 3px;
}

.indent {
    padding-left: 3rem;
    padding-right: 3rem;
}

img {
    display: block;
    margin: auto;
}

.imgbands {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding-left: 16.4rem;
    padding-right: 1.5rem;
}

.imgdisplay {
    transform: translate(-35px,0);
}

.imgphone {
    transform: translate(-150px, -150px);
}

.imgspike {
    transform: translate(70px, 0px);
}

.imgborder {
    display: block;
    border-radius: 0 0 20px 20px;
}

.imgpeople {
    transform: translate(-110px, 10px);
    border-radius: 50%;
}

.imgstrelka1 {
    transform: rotate(-45deg);
}

.imgstrelka2 {
    transform: rotate(-45deg);
}

.wowlist{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
}

@media all and (min-width: 768px) {
    .wowlist {
        margin-right: 15.5rem;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5rem;
        justify-items: end
    }
}