:root {
font-size: 62.5%;
background-color: rgb(78, 149, 255);
--white-color: #FFFFFF;
--black-color: #000000; 
--link_color: rgba(255, 255, 255, 0.1);  
font-family: 'Poppins', sans-serif;
font-style: normal;
box-sizing: border-box; 
}

*, :before, :after {
    box-sizing: inherit;
}

.background_first{
background-image: "./img/cloud.png";
}

.hrequired {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.astart{
    background-color: var(--black-color);
    border-radius: 9rem;
    font-size: 2rem;
    padding-left: 2.6rem;
    padding-right: 2.6rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    display: inline-block;
    margin-top: 12rem;
    margin-left: 3rem;
    text-align: center;
}
h1
{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

header {
    background-color: var(--link_color);
}
footer{
    background-color: var(--link_color);
}
article{
    background-color: rgba(255, 255, 255, .1);
    border-radius: 2rem;
    margin-top: 6.7rem;
    margin-top: 3rem;
    margin-left: 2.9rem;
}
a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 2.2rem;
}

h2 {
    font-size: 3rem;
    color: var(--white-color);
}

.h2alwaysin {
    line-height: 1.4rem;
    padding-left: 8.4rem;
    padding-right: 3rem;
    margin-top: 12.1rem;
}

.article_black
{
color:var(--black-color);
}

p
{
font-style: normal;
font-weight: 400;
font-size: 1.8rem;
line-height: 2rem;
color:var(--white-color);
}

.p_when {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 4rem;
    padding-left: 2.8rem;
    padding-right: 2.5rem;
    padding-top: 13.4rem;
    width: 100%;
    max-width: 380px;
    margin-left: auto;
}

.p_black{
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.8rem;
    color:var(--black-color);
}
.p_white{
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.8rem;
    color:var(--white-color);
}

.phead_white{
    font-style: normal;
font-weight: 400;
font-size: 1.4rem;
line-height: 1.8rem;
color:var(--white-color);
}

.phead_black{
    font-style: normal;
font-weight: 400;
font-size: 1.4rem;
line-height: 1.8rem;
color:var(--black-color);
}

.button1{
    font-size: 3rem;
    line-height: 1.4rem;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    margin-left: 9.5rem;
    margin-right: 10.6rem;
    margin-top: 1.8rem;
    margin-bottom: 2.3rem;

}

.button2{
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color:var(--white-color);
    background-color:var(--black-color);
    border-radius: 2rem;
    padding:1rem;
}

.label_round{
    text-decoration: none;
    padding: 1rem;
    border-radius: 2rem;
    background-color: var(--white-color);
    color:var(--white-color);
}
.cookies{
    font-size: 1rem;
    line-height: 1.4rem;
    padding-left: 8rem;
    padding-right: 0.6rem;
    padding-top: 1.6rem;
    padding-bottom: 1.2rem;
}
.privacypolicy{
    font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 30px;
}
.cloudflex{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
}

.h2first {
    font-size: 4rem;
    text-align: center;
}

.pscroll {
    font-size: 1.6rem;
    line-height: 3rem;
}

.li6first {
    background-color: var(--visibility-color);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    margin-left: 3rem;
    margin-bottom: 3.7rem;
    width: 14.1rem;
}

.li6 {
    background-color: var(--visibility-color);
    border-radius: 2rem;
    margin-left: 3rem;
    margin-bottom: 3.7rem;
    width: 14.1rem;
} 


.h3first {
    color: var(--white-color);
    padding-top: 6rem;
    text-align: center;
}

.pusing {
    font-size: 0.7rem;
    line-height: 1.8rem;
    color: var(--white-color);
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.p6 {
    font-size: 0.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.psolutions {
    font-size: 0.8rem;
    line-height: 1.4rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.li6last {
    background-color: var(--visibility-color);
    border-radius: 2rem;
    margin-left: 3rem;
    width: 14.1rem;
}
.h2high {
    line-height: 1.4rem;
    padding-left: 3rem;
    padding-top: 20.7rem;
}
.pweare {
    font-size: 1.3rem;
    line-height: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 3rem;
}

.pwearealways {
    font-size: 1.3rem;
    line-height: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 3rem;
    text-align: right;
}

.h2always {
    line-height: 1.4rem;
    padding-left: 10rem;
    padding-right: 3rem;
    margin-top: 12.1rem;
}

.h2individual {
    line-height: 1.4rem;
    padding-left: 3rem;
    padding-top: 8.5rem;
}

.pour {
    font-size: 1.3rem;
    line-height: 2rem;
    padding-left: 3rem;
    padding-right: 4rem;
    margin-top: 3rem;
}

.h2our {
    padding-top: 10.7rem;
    text-align: center;
}
.athird {
    background-color: var(--visibility-color);
    border-radius: 2rem;
    font-size: 2.1rem;
    line-height: 2.1rem;
    padding-left: 3.5rem;
    padding-right: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 8.1rem;
    display: inline-block;
}

.h2testimonials {
    padding-top: 17.1rem;
    text-align: center;
}
